[project]
	description = Yandex Maps API for Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandr Badin (Staliang)
[access "refs/for/refs/*"]
	read = group user/Alexandr Badin (Staliang)
	push = group user/Alexandr Badin (Staliang)
	label-Code-Review = -2..+2 group user/Alexandr Badin (Staliang)
	label-Verified = -1..+1 group user/Alexandr Badin (Staliang)
	rebase = group user/Alexandr Badin (Staliang)
	removeReviewer = group user/Alexandr Badin (Staliang)
	submit = group user/Alexandr Badin (Staliang)
[access "refs/heads/*"]
	read = group user/Alexandr Badin (Staliang)
	create = group user/Alexandr Badin (Staliang)
	push = +force group user/Alexandr Badin (Staliang)
	pushMerge = group user/Alexandr Badin (Staliang)
[access "refs/tags/*"]
	push = +force group user/Alexandr Badin (Staliang)
	pushTag = group user/Alexandr Badin (Staliang)
	pushSignedTag = group user/Alexandr Badin (Staliang)
